<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>Project 2 Home Page</h1>
    <br>

    <a href="http://ec2-18-223-113-204.us-east-2.compute.amazonaws.com/registration">
        Click here to go to registration page.
    </a>
    <br>

    <a href="http://ec2-18-223-113-204.us-east-2.compute.amazonaws.com/login">
        Click here to login if you've already registered.
    </a>
    <br>

    <a href="http://ec2-18-223-113-204.us-east-2.compute.amazonaws.com/upload">
        Click here to upload a file.
    </a>
    <br>

</body>
</html>